/* -------------------------------------------------------------------------
--  PAGE BODY --------------------------------------------------------------
----------------------------------------------------------------------------*/
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: rgb(42,73,101);
}

#container {
	width: 900px;
	margin: 10px auto;
	background-color: white;
	padding: 20px;
	border: 3px solid #666666;
	-moz-border-radius: 10px;
}

#container #header {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}

#container #footer {
	margin-top: 10px;
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 1.5em;
}
#container #footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#container div.line {
	border-top: 1px solid rgb(190, 190, 190);
	width: auto;
	margin: 8px 0 8px 0;
	padding: 0;
	clear: both;
}

#container #body .leftcol {
	width: 50%;
	float: left;
	clear: left;
}
#container #body .rightcol {
	width: 50%;
	float: right;
	clear: right;
}

#container #body table {
	font-size: 1em;
	margin: 0 0 0 -2px;
	padding: 0;
	border-spacing: 1px;
}
#container #body table.collapsed {
	border-collapse: collapse;
}
#container #body table td {
	margin-top: 1px;
}
#container #body table th {
	text-align: left;
}
#container #body table.full {
	width: 100%;
}
#container #body table.border {
	border-collapse: collapse;
}
#container #body table.border th {
	border: none;
}
#container #body table.border td {
	border: 1px solid rgb(220, 220, 220);
}
#container #body table.border td table td {
	border: none;
}
#container #body table.padding td,
#container #body table.padding th {
	padding: 2px;
}
#container #body table tr.strong td {
	font-weight: bold;
}
#container #body table tr.em td {
	font-style: italic;
}
#container #body table.sortable tr th,
#container #body table.server_sortable tr th {
	cursor: pointer;
	background-image: url(images/tr_back.gif);
	background-repeat: repeat-x;
	background-position: center center;
	empty-cells: show;
}
#container #body table.sortable tr th:hover {
	color: #0043B4;
}
div.clear {
	clear: both;
}