/* -------------------------------------------------------------------------
--  PAGE BODY --------------------------------------------------------------
----------------------------------------------------------------------------*/
body {
	background-color: #eeeeff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
}

#container #footer {
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}